// Screen Sizes
// Small smartphones (landscape view)
$screen-xs-min: 412px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// large desktops
$screen-xxl-min: 1500px;

$dark-blue: #323a47;
$main-color: #F2B60E;
